body {
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-content: center;
    flex-direction: column;
}

dialog {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px rgb(152, 152, 152);
    position: absolute;
    top: 40%;
}


.add-project-dialog,
.cancel-project-dialog {
    font-weight: bold;
    width: 80px;
    border: none;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
}

.cancel-project-dialog {
    background-color: rgb(39, 165, 39);
    color: black;
}

.add-project-dialog {
    background-color: red;
    color: white;
}

.task-description {
    min-width: 300px;
    max-width: 300px;
    min-height: 200px;
}

.task-add {

}

.task-cancel {

}

.task-dialog {
    border-radius: 5px;
    border: none;
    box-shadow: 2px 5px rgb(152, 152, 152);
    position: absolute;
    top: 35%;
    
}

.task-dialog > form {

    display: flex;
    align-items: center;
    flex-direction: column;

}

.task-nameinput  {
    width: 300px;
}

.date-priority {
    display: flex;
    justify-content: space-between;
}

header {
    background-color: rgb(73, 73, 73);
    color: white;
    font-weight: bold;
    display: flex;
    justify-content: center;
    height: 55px;
    align-items: center;
    gap: 5px;
    font-size: 30px;
}

header > span {
    content: url('./checkall.svg');
    height: 40px;
}

.main-content {
    display: flex;
    align-content: stretch;
    flex: 1;
}

.side-bar {
    background-color: rgb(144, 144, 144);
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-weight: bold;
    font-size: 20px;
    
}

.plus {
    content: url('./plus.svg');
   height: 30px;
   display: flex;
   align-items: center;
   cursor: pointer;
}

.project {
    display: flex;
    align-items: center;
    justify-content: space-between;
}